:root {
  --colorA: #77C8C0;
  --colorAA: #267AAC;
  --colorB: #4AD7B8;
  --colorBB: #f39c12;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

@keyframes gradientAnimation {
  0%, 100% {
    background: linear-gradient(135deg, var(--colorA) 0%, var(--colorAA) 100%);
    opacity: 1;
  }
  25%, 75% {
    background: linear-gradient(135deg, var(--colorB) 0%, var(--colorBB) 100%);
    opacity: 1;
  }
}

header {
  animation: gradientAnimation 8s ease-in-out infinite;
  background-size: 400% 400%;
}


header {
  position: relative;
  background: linear-gradient(135deg, var(--colorA) 0%, var(--colorAA) 100%);
  animation: gradientAnimation 4s ease-in-out infinite;
  color: white;
  padding: 20px;
  text-align: center;
}


main {
  padding: 20px;
}

fieldset {
  border: 2px solid #007BFF;
  border-radius: 5px;
  padding: 20px;
}

legend {
  color: #007BFF;
  font-size: 1.2em;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Asegura que el padding no aumente el tamaño del input */
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para la sección de autocompletamiento */
.suggestions-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: absolute;
  width: calc(100% - 18px); /* Ajusta el ancho según el padding del input */
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.suggestions-container div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestions-container div:last-child {
  border-bottom: none;
}

.suggestions-container div:hover {
  background-color: #f4f4f4;
}

input[type="date"] {
  font-family: Arial, sans-serif;
  width: 10%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Asegura que el padding no aumente el tamaño del input */
  background-color: white;
  cursor: pointer;
}

/* Mejorando el aspecto al enfocar el input */
input[type="date"]:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0,123,255,.5);
}

/* Estilos para mejorar el aspecto del botón de envío */
button[type="submit"] {
  display: block; /* Hace que el botón ocupe su propio espacio, forzándolo debajo del selector de fecha */
  width: 100%; /* Opcional: Hace que el botón se expanda al ancho completo del contenedor */
}

/* Ajustes para que el selector de fecha y botón tengan un espaciado uniforme */
#date-selector {
  margin-bottom: 20px; /* Asegura espacio entre el selector de fecha y el botón */
}